In [ ]:
import sqlite3

con = sqlite3.connect("Tutorial.db")
curser = con.cursor()

In [ ]:
curser.execute("""    
    CREATE TABLE Movie(
        tittle TEXT,
        year TEXT,
        score INTEGER         )
"""
)

curser.execute("""
        CREATE TABLE actors(
            Actor_id INTEGER PRIMARY KEY,
            Name TEXT,
            Nationality TEXT
                              )
""")

curser.execute("""
    CREATE TABLE Gene(
               Gene_id INTEGER,
               Gene_Name TEXT
               )
""")

curser.execute("""
    CREATE TABLE Theater(
               Theater_id INTEGER,
               Name TEXT,
               City TEXT,
               Zip_COde INTEGER)           
               """)


curser.execute("""
    CREATE TABLE actors (
    actorid INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    nationality TEXT
               )"""
)

In [ ]:
curser.execute("""
    INSERT INTO movie VALUES
('Inception', '2010', 8.8),
('The Dark Knight', '2008', 9.0),
('Interstellar', '2014', 8.6),
('Avatar', '2009', 7.8),
('Avengers: Endgame', '2019', 8.4),
('Joker', '2019', 8.5),
('The Matrix', '1999', 8.7),
('Titanic', '1997', 7.9),
('Dune: Part Two', '2024', 8.3),
('Oppenheimer', '2023', 8.6)
""")

con.commit()

In [ ]:
curser.execute("""
    INSERT INTO movie VALUES
('Inception', '2010', 8.8),
('The Dark Knight', '2008', 9.0),
('Interstellar', '2014', 8.6),
('Avatar', '2009', 7.8),
('Avengers: Endgame', '2019', 8.4),
('Joker', '2019', 8.5),
('The Matrix', '1999', 8.7),
('Titanic', '1997', 7.9),
('Dune: Part Two', '2024', 8.3),
('Oppenheimer', '2023', 8.6)
""")


curser.execute("""
    INSERT INTO actors (name, nationality) VALUES
( 'Leonardo DiCaprio', 'American'),
( 'Christian Bale', 'British'),
( 'Robert Downey Jr.', 'American'),
( 'Scarlett Johansson', 'American'),
( 'Tom Hardy', 'British'),
( 'Natalie Portman', 'Israeli-American'),
( 'Cillian Murphy', 'Irish'),
( 'Brad Pitt', 'American'),
( 'Angelina Jolie', 'American'),
( 'Keanu Reeves', 'Canadian')

""")

curser.execute("""
INSERT INTO Gene VALUES
(1, 'Comedy'),
(2, 'Action'),
(3, 'Thriller'),
(4, 'Adventure'),
(5, 'Suspense'),
(6, 'Romance'),
(7, 'Horror'),
(8, 'Science Fiction'),
(9, 'Fantasy'),
(10, 'Drama')
               
""")

curser.execute("""
INSERT INTO Theater VALUES
(1, 'Grand Cinema', 'New York', 10001),
(2, 'Sunset Theater', 'Los Angeles', 90001),
(3, 'Metroplex Cinema', 'Chicago', 60601),
(4, 'Galaxy Theater', 'Houston', 77001),
(5, 'Royal Screens', 'Miami', 33101),
(6, 'CineStar', 'San Francisco', 94101),
(7, 'Majestic Cinema', 'Boston', 02108),
(8, 'Starplex', 'Dallas', 75201),
(9, 'Silver Screen', 'Seattle', 98101),
(10, 'CineWorld', 'Denver', 80201)
              
""")

In [ ]:
con.commit()

In [ ]:
res = curser.execute("Select * FROM Movie")
res.fetchall()

OTHER WAY TO ADD DATA INTO TABLE

In [ ]:
data = [
    ("Ballerina", "2024", 9.2),
    ("john wick", "2021", 8 ),
    ("F1", "2023", 10),
]

curser.executemany("INSERT INTO Movie VALUES(?,?,?)", data)
con.commit()

In [ ]:
res1 = curser.execute("Select * FROM actors")
res1.fetchall()

In [ ]:
res = curser.execute("Select Name FROM Theater WHERE City = 'Houston'")
res.fetchall()

In [ ]:
curser.execute("UPDATE Theater SET Name = 'Gold Star' WHERE Theater_id = 6")
con.commit()

In [ ]:
curser.execute("DELETE FROM Gene WHERE Gene_id = 10")
con.commit()

In [ ]:
curser.execute("ALTER TABLE Movie ADD COLUMN Description TEXT")
con.commit()

In [ ]:
data = [
    ("Elite fighter pilot returns for a daring mission", "TopGun"),
    ("A young ballerina uncovers a dark conspiracy", "Ballerina"),
    ("Ex-hitman seeks vengeance for personal loss", "john wick"),
    ("Fast cars and fierce street racing battles", "F1"),
    ("A thief enters dreams to steal secrets", "Inception"),
    ("A vigilante rises to save Gotham City", "The Dark Knight"),
    ("Astronauts explore a wormhole for survival", "Interstellar"),
    ("Humans explore an alien world on Pandora", "Avatar"),
    ("Heroes unite to defeat Thanos", "Avengers: Endgame"),
    ("A troubled man transforms into Joker", "Joker"),
    ("Hackers discover a hidden virtual reality", "The Matrix"),
    ("A tragic love story aboard the Titanic", "Titanic"),
    ("Epic war for control of Arrakis", "Dune: Part Two"),
    ("The story of J. Robert Oppenheimer", "Oppenheimer"),
]

curser.executemany("UPDATE Movie SET Description = ? WHERE tittle = ?", data)
con.commit()

In [46]:
curser.execute("DELETE FROM Movie WHERE year = 2024")
con.commit()